{% extends 'kitap/base.html' %}
{% load static %}

{% block title %}FAQ{% endblock %}


{% block content %}
<section class="faq-section">
  <div class="container">
    <div class="row">
                      <!-- ***** FAQ Start ***** -->
                      <div class="col-md-6 offset-md-3">
  
                          <div class="faq-title text-center pb-3">
                              <h2>FAQ</h2>
                          </div>
                      </div>
                      <div class="col-md-6 offset-md-3">
                          <div class="faq" id="accordion">
                            {% for i in faq %}
                              <div class="card">
                                  <div class="card-header" id="faqHeading-{{ forloop.counter }}">
                                      <div class="mb-0">
                                          <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-{{ forloop.counter }}" data-aria-expanded="true" data-aria-controls="faqCollapse-{{ forloop.counter }}">
                                              <span class="badge">{{ forloop.counter }}</span>{{ i.question }}
                                          </h5>
                                      </div>
                                  </div>
                                  <div id="faqCollapse-{{ forloop.counter }}" class="collapse" aria-labelledby="faqHeading-{{ forloop.counter }}" data-parent="#accordion">
                                      <div class="card-body">
                                          <p>{{ i.answer }}</p>
                                      </div>
                                  </div>
                              </div>
                              {% endfor %}
                          </div>
                      </div>
                    </div>
                  </div>
                  </section>
{% endblock %}